//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #FF9700;

$font-family-sans-serif: 'Mitr', sans-serif !default;
$font-family-monospace: 'Mitr', sans-serif !default;
$font-family-base: 'Mitr', sans-serif !default;
